@model SistemaBase.Models.CarreraFlujoTransicion

@{
    Layout = "";
}

<div class="modal-header">
    <h5 class="modal-title">Eliminar transicion</h5>
    <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
</div>
<div class="modal-body">
    <p>Desea desactivar la transicion <strong>@Model.Accion</strong> de <strong>@Model.IdEstadoOrigenNavigation.Nombre</strong> a <strong>@Model.IdEstadoDestinoNavigation.Nombre</strong>?</p>
    <form asp-action="Delete" asp-route-id="@Model.IdCarreraFlujoTransicion" method="post">
        @Html.AntiForgeryToken()
        <button class="btnEliminar" type="submit"><i class="fa fa-trash"></i> Eliminar</button>
        <button class="btnAbmCancelar" type="button" data-bs-dismiss="modal">Cancelar</button>
    </form>
</div>
